<div class="body" *ngIf="token">
  <button type="next" (click)="logout()">Logout</button> Logout from {{provider}} and revoke its token
  authorization
</div>



<div class="not_logged" *ngIf="!provider">
  <br>

  Select your Identity Provider for login in:
  <br><br>

  <div class="table">
    <table>
      <tr>
        <td>
          <a (click)="login('EGI')"><img id="EGI_img" src="../assets/EGI.png"></a>
        </td>
        <td>
          <a (click)="login('EMSO')"><img id="EMSO_img" src="../assets/EMSO.PNG"></a>
        </td>
      </tr>
    </table>
  </div>

</div>



<!-- <div class="not_logged" *ngIf="provider">

  <h2>
    Discovering the {{provider}} AAI document
  </h2>

</div> -->


<router-outlet *ngIf="token"></router-outlet>