.not_logged {
  font-size: xx-large;
  font-weight: bolder;
  color: brown;
  text-align: center;
  margin-top: 5%;
}

.body {
  background-color: rgb(180, 203, 245);
  font-size: large;
  padding: 0.5%;
  color:red;
  font-weight: bolder;
}



button[type=next] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#edf856 5%, #f5fc90 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 24px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=next]:hover {
  background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}


#EMSO_img {
  width: 100%;
  height: fit-content;
  cursor: pointer;
}

#EGI_img {
  width: 70%;
  height: fit-content;
  cursor: pointer;
}

.table {
  padding: 1%;
  margin-top: 0.1%;
  margin-left: 30%;
}

