/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background: linear-gradient(45deg,#9ceee3,#7ee7d9,#55dac8,rgb(31, 219, 204),rgb(34, 199, 240),rgb(39, 158, 236));
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

