<!-- <div class="body">

    <h2 class="title">Welcome! {{user_info.given_name}} you have permission</h2>

    <div class="user_info">
        <h4 class="subtitle">Relevant information we have about you:</h4>
        <mat-list>
            <mat-list-item>
                <p class="item">Full name: </p>
                <p class="info"> {{user_info.name}}</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">Username: </p>
                <p class="info"> {{user_info.preferred_username}}</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">Email: </p>
                <p class="info"> {{user_info.email}}</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">EGI email (your unique-identifier among EGI accounts): </p>
                <p class="info"> {{user_info.sub}}</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">Level of assurance (LoA) that the authentication performed:</p>
                <p class="info"> {{user_info.acr}}</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">Epoch authentication date: </p>
                <p class="info"> {{claims.auth_time}} ({{date}})</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">Virutal organitzations and your roles: </p>
                <p class="info"> {{vo}}</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">Virutal organitzations and your roles: </p>
                <p class="info"> {{vo_total}}</p>
            </mat-list-item>

            <mat-list-item>
                <p class="item">Authorized till: </p>
                <p class="info"> {{access_time}}</p>
            </mat-list-item>

        </mat-list>

        <div> <h2>Now you can retrieve these EMSO information:</h2> <br>
            <button type="next" (click)="get_person()">Employees</button>
            <button type="next" (click)="get_physical_system()">Physical systems</button>
            <button type="next" (click)="get_mission()">Missions</button>
        </div>
        <pre>
            {{payload | json}}
        </pre>

        <button (click)="logout()">Revoke</button>
        <p>
            {{response | json}}
        </p>
    </div>
</div> -->

<p>
    Claims:
    {{claims | json}}
</p>

<p>
    token:
    {{access_token | json}}
</p>

<p>
    id_token:
    {{id_token | json}}
</p>